# Merge

In [2]:
import pandas as pd

var1 = pd.DataFrame({"A": [1, 2, 3], "B": [4, 5, 6]})
var2 = pd.DataFrame({"A": [1, 2, 3], "C": [10, 11, 12]})

pd.merge(var1, var2, on="A")

   A  B   C
0  1  4  10
1  2  5  11
2  3  6  12

In [6]:
import pandas as pd

var1 = pd.DataFrame({"A": [1, 2, 3], "B": [4, 5, 6]})
var2 = pd.DataFrame({"A": [1, 2, 4], "C": [10, 11, 12]})

pd.merge(var1, var2,  how='outer', indicator=True)

   A    B     C      _merge
0  1  4.0  10.0        both
1  2  5.0  11.0        both
2  3  6.0   NaN   left_only
3  4  NaN  12.0  right_only

In [10]:
import pandas as pd

var1 = pd.DataFrame({"A": [1, 2, 3], "B": [4, 5, 6]})
var2 = pd.DataFrame({"A": [1, 2, 4], "B": [10, 11, 12]})

pd.merge(var1, var2, left_index=True,right_index=True)

   A_x  B_x  A_y  B_y
0    1    4    1   10
1    2    5    2   11
2    3    6    4   12

In [11]:
import pandas as pd

var1 = pd.DataFrame({"A": [1, 2, 3], "B": [4, 5, 6]})
var2 = pd.DataFrame({"A": [1, 2, 4], "B": [10, 11, 12]})

pd.merge(var1, var2, left_index=True,right_index=True,suffixes=('_left', '_right'))

   A_left  B_left  A_right  B_right
0       1       4        1       10
1       2       5        2       11
2       3       6        4       12

# Concat

In [12]:
import pandas as pd

sr1 = pd.Series([1, 2, 3])
sr2 = pd.Series([4, 5, 6])

pd.concat([sr1, sr2])

0    1
1    2
2    3
0    4
1    5
2    6
dtype: int64

In [17]:
import pandas as pd

var1 = pd.DataFrame({"A": [1, 2, 3], "B": [4, 5, 6]})
var2 = pd.DataFrame({"A": [1, 2, 4], "B": [10, 11, 12]})

pd.concat([var1, var2], axis=0)

   A   B
0  1   4
1  2   5
2  3   6
0  1  10
1  2  11
2  4  12

In [18]:
import pandas as pd

var1 = pd.DataFrame({"A": [1, 2, 3], "B": [4, 5, 6]})
var2 = pd.DataFrame({"A": [1, 2, 4], "B": [10, 11, 12]})

pd.concat([var1, var2], axis=1)

   A  B  A   B
0  1  4  1  10
1  2  5  2  11
2  3  6  4  12

In [19]:
import pandas as pd

var1 = pd.DataFrame({"A": [1, 2, 3], "B": [4, 5, 6]})
var2 = pd.DataFrame({"A": [1, 2], "B": [10, 11]})

pd.concat([var1, var2], axis=1, join='inner')

   A  B  A   B
0  1  4  1  10
1  2  5  2  11