# Pivot

In pandas, pivot is a function that reshapes a DataFrame from a long format to a wide format, where unique values from one column become new column headers, and values from another column populate those new columns.

Syntax

DataFrame.pivot(index=None, columns=None, values=None)

index: The column to use as the new row index. 
columns: The column to use to create new columns.
values: The column to use for populating data in the new table. If not specified, all remaining columns are used.

When to Use pivot
Use pivot when your data is in long format and you want to reshape it into a wide format.
Each combination of the index and columns must be unique, or else a ValueError is raised.

In [5]:
import pandas as pd

data = {
    'date': ['2025-01-01', '2025-01-01', '2025-01-02', '2025-01-02'],
    'city': ['New York', 'Los Angeles', 'New York', 'Los Angeles'],
    'temperature': [30, 25, 28, 24]
}
df = pd.DataFrame(data)
print(df)

         date         city  temperature
0  2025-01-01     New York           30
1  2025-01-01  Los Angeles           25
2  2025-01-02     New York           28
3  2025-01-02  Los Angeles           24

In [6]:
df_pivot = df.pivot(index='date', columns='city', values='temperature')
print(df_pivot)

city        Los Angeles  New York
date
2025-01-01           25        30
2025-01-02           24        28

Here:

The index is date.
The columns are the unique values of city.
The values are taken from the temperature column.

In [8]:
#Pivot Without Specifying values
#If you do not specify the values parameter, all remaining columns are used as values.
data = {
    'date': ['2025-01-01', '2025-01-01', '2025-01-02', '2025-01-02'],
    'city': ['New York', 'Los Angeles', 'New York', 'Los Angeles'],
    'temperature': [30, 25, 28, 24],
    'humidity': [70, 65, 75, 60]
}
df = pd.DataFrame(data)
df

         date         city  temperature  humidity
0  2025-01-01     New York           30        70
1  2025-01-01  Los Angeles           25        65
2  2025-01-02     New York           28        75
3  2025-01-02  Los Angeles           24        60

In [9]:
df_pivot = df.pivot(index='date', columns='city')
print(df_pivot)

           temperature             humidity
city       Los Angeles New York Los Angeles New York
date
2025-01-01          25       30          65       70
2025-01-02          24       28          60       75

Here:

The index is date.
The columns are the unique values of city.
Both temperature and humidity are unstacked into the new columns.

Error: When Pivot Doesn't Work
Pivot will throw a ValueError if the combination of index and columns is not unique.

Example:
python
Copy code
data = {
    'date': ['2025-01-01', '2025-01-01', '2025-01-01'],
    'city': ['New York', 'New York', 'Los Angeles'],
    'temperature': [30, 28, 25]
}
df = pd.DataFrame(data)
# This will raise an error because "2025-01-01" and "New York" are not unique.
df.pivot(index='date', columns='city', values='temperature')