# Read Csv

In [2]:
import pandas as pd

csv = pd.read_csv('data2.csv')

csv

   a  b   c
0  1  5   9
1  2  6  10
2  3  7  11
3  4  8  12

In [10]:
import pandas as pd

csv = pd.read_csv('data2.csv', nrows=2, usecols=[0,2]) 

csv

   a   c
0  1   9
1  2  10

In [13]:
import pandas as pd

csv = pd.read_csv('data2.csv',skiprows=[0]) 

csv

   1  5   9
0  2  6  10
1  3  7  11
2  4  8  12

In [19]:
import pandas as pd

csv = pd.read_csv('data2.csv', index_col='b') 

csv

   a   c
b
5  1   9
6  2  10
7  3  11
8  4  12

In [21]:
import pandas as pd

csv = pd.read_csv('data2.csv',names=['m','n','o']) 

csv

   m  n   o
0  a  b   c
1  1  5   9
2  2  6  10
3  3  7  11
4  4  8  12

In [26]:
import pandas as pd

csv = pd.read_csv('data2.csv',dtype={'b':float}) 

csv

   a    b   c
0  1  5.0   9
1  2  6.0  10
2  3  7.0  11
3  4  8.0  12